<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/opportunities">Opportunities</a>
            <a href="/about">About</a>
            {{!-- <span>Welcome, {{user.name}}</span> --}}
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout">logout</button>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p></p>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
<script>
     document.querySelector("footer p").innerHTML = `&#169 ${new Date().getFullYear() } Volunteer Hub` 
</script>
</html>



